@model IPagedList<RestaurentListViewModel>

<div id="restaurentList">

    <div class="pagedList" data-otf-target="#restaurentList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        PagedListRenderOptions.MinimalWithItemCountText)
    </div>

        @foreach (var item in Model)
        {
            <div>
                <h4>@item.Name</h4>
                <div>
                    <h4>@item.City, @item.Country</h4>
                </div>
                <div>
                    Reviews: @item.CountOfReviews
                </div>
                <hr />
            </div>
        }
 </div>

